

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.border-view {
    padding: 1rem;
    color: white;
    border-width: 10px;
    border-radius: 50px;
    border-style: solid;
    border-image: 
      linear-gradient(
        royalblue, 
        white
      ) 1;
}
